* {
	font-family: "JetBrains Mono", "Source Sans Pro", sans-serif;
	line-height: 48px;
	font-size: 22px;
	color: #ECEFF4;
}

:root {
	background: #2E3440;
}

h1#name {
	padding: 50px;
	text-align: center;
	font-size: 84px;
}

#body {
	margin: auto;
	width: 55%;
	text-align: center;
}

#intro {
	text-align: center;
}

#links {
	text-align: center;
}

.link {
	display: inline-block;
	width: 25%;
}

a {
	text-decoration: none;
}

#poweradvocate {
	color: #88C0D0;
}

#linkedin {
	color: #B48EAD;
}

#resume {
	color: #EBCB8B;
}

#github {
	color: #BF616A;
}

#email {
	color: #88C0D0;
}

#break {
	color: #88C0D0;
}
